extends layout 


block content
    h2= category.name
    p= category.description 
    dl
        each item in category_items
            dt
                a(href=item.url)
                    strong= item.name
            dd= item.description
            
        else
            p No items in this category
    hr
    p
        a(href=category.url+'/delete') Delete category
    p
        a(href=category.url+'/update') Update category
